In [1]:
import pandas as pd

In [2]:
csvfile = "Resources/election_data.csv"

In [3]:
election_df = pd.read_csv(csvfile)
election_df

         Voter ID County Candidate
0        12864552  Marsh      Khan
1        17444633  Marsh    Correy
2        19330107  Marsh      Khan
3        19865775  Queen      Khan
4        11927875  Marsh      Khan
...           ...    ...       ...
3520996  18050509  Marsh      Khan
3520997  13060332  Marsh      Khan
3520998  16754708  Queen      Khan
3520999  12083146  Queen      Khan
3521000  14526187  Queen  O'Tooley

[3521001 rows x 3 columns]

In [4]:
total_votes = election_df["Voter ID"].count()
total_votes

3521001

In [5]:
# Getting the candidats list
candidat_list = election_df["Candidate"].unique()
candidat_list

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [6]:
# Counting for each candidates
vote_khan = election_df.loc[election_df["Candidate"] == "Khan", :]["Candidate"].count()
vote_correy = election_df.loc[election_df["Candidate"] == "Correy", :]["Candidate"].count()
vote_li = election_df.loc[election_df["Candidate"] == "Li", :]["Candidate"].count()
vote_otooley = election_df.loc[election_df["Candidate"] == "O'Tooley", :]["Candidate"].count()

In [7]:
# Getting percentage of each candidate
percent_khan = (vote_khan/total_votes)*100
percent_correy = (vote_correy/total_votes)*100
percent_li = (vote_li/total_votes)*100
percent_otooley = (vote_otooley/total_votes)*100

In [9]:
# print results
print("Election Results")
print("------------------")
print(f"Total Vote: {total_votes}")
print("------------------")
print(f"Khan: {round(percent_khan, 2)}% ({vote_khan})")
print(f"Correy: {round(percent_correy, 2)}% ({vote_correy})")
print(f"Li: {round(percent_li, 2)}% ({vote_li})")
print(f"O'Tooley: {round(percent_otooley,2)}% ({vote_otooley})")
print("------------------")
print("Winner: Khan")
print("------------------")

Election Results
------------------
Total Vote: 3521001
------------------
Khan: 63.0% (2218231)
Correy: 20.0% (704200)
Li: 14.0% (492940)
O'Tooley: 3.0% (105630)
------------------
Winner: Khan
------------------