In [1]:
# Import Dependency 
import pandas as pd

In [2]:
# Read the file
csvfile = "Resources/budget_data.csv"
budget_df = pd.read_csv(csvfile)
budget_df

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [3]:
# Get total months
total_months = budget_df["Date"].count()
total_months

86

In [4]:
# Get total amount 
total_amount = budget_df["Profit/Losses"].sum()
total_amount

38382578

In [5]:
# Calculate daily changes
change = budget_df["Profit/Losses"].diff()
print(change)

0          NaN
1     116771.0
2    -662642.0
3    -391430.0
4     379920.0
        ...
81   -665765.0
82    693229.0
83   -734926.0
84     77242.0
85    532869.0
Name: Profit/Losses, Length: 86, dtype: float64

In [6]:
# Average the changes
mean_change = change.mean()

In [7]:
# Add the average change to dataframe
budget_df["Average_Change"] =  change
budget_df

        Date  Profit/Losses  Average_Change
0   Jan-2010         867884             NaN
1   Feb-2010         984655        116771.0
2   Mar-2010         322013       -662642.0
3   Apr-2010         -69417       -391430.0
4   May-2010         310503        379920.0
..       ...            ...             ...
81  Oct-2016         102685       -665765.0
82  Nov-2016         795914        693229.0
83  Dec-2016          60988       -734926.0
84  Jan-2017         138230         77242.0
85  Feb-2017         671099        532869.0

[86 rows x 3 columns]

In [8]:
# Get greatest increase
greatest_increase = budget_df["Average_Change"].max()
print(budget_df[budget_df.Average_Change == budget_df.Average_Change.max()])

        Date  Profit/Losses  Average_Change
25  Feb-2012        1170593       1926159.0

In [9]:
# Get greatest decrease
greatest_decrease = budget_df["Average_Change"].min()
print(budget_df[budget_df.Average_Change == budget_df.Average_Change.min()])

        Date  Profit/Losses  Average_Change
44  Sep-2013       -1196225      -2196167.0

In [11]:
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total_amount}")
print(f"Average Change: ${round(mean_change,2)}")
print(f"Greatest Increase in Profits: : Feb-2012 $({greatest_increase})")
print(f"Greatest Decrease in Profits: : Sep-2013 $({greatest_decrease})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: : Feb-2012 $(1926159.0)
Greatest Decrease in Profits: : Sep-2013 $(-2196167.0)